name: Release & Publish

on:
  push:
    branches: main
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  release:
    uses: TFT-Framework/.github/.github/workflows/reusable-release.yml@main
    secrets:
      GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
      GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
      MAVEN_CENTRAL_TOKEN_USERNAME: ${{ secrets.MAVEN_CENTRAL_TOKEN_USERNAME }}
      MAVEN_CENTRAL_TOKEN_PASSWORD: ${{ secrets.MAVEN_CENTRAL_TOKEN_PASSWORD }}





